<div class="d-flex justify-content-center align-items-center">
    <div class="titulo-container">
      <h1 class="titulo">Bienvenido a nuestra Encuesta Musical</h1>
      <p class="subtitulo">¿Cuáles son tus estilos musicales favoritos?</p>

      <div class="botones-container">
        <button class="boton boton-encuesta" (click)="irAEncuesta()">Ir a Encuesta</button>
        <button class="boton boton-resultados" (click)="irAResultados()">Ir a Resultados</button>   
      </div>
  </div>
</div>
