:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
  }

.botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .boton {
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  
  .boton-encuesta {
    background-color: #ff6b6b;
  }
  
  .boton-resultados {
    background-color: #74b9ff;
  }
  
  .boton:hover {
    opacity: 0.8;
  }
  
.titulo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    flex-direction: column;
  }
  
  .titulo {
    font-size: 36px;
    font-weight: bold;
    color: #ff6b6b;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .subtitulo {
    font-size: 18px;
    color: #666;
  }
  
  